<!--Форма входа-->
<div id="signin_form" class="ComeIn">
	<div class="logo">
		<img src='http://a931266j.beget.tech/TRSBD/images/logo.png' alt='Logo Payday'>
				<h1>AYDAY</h1>
	</div>
	<form class="LogIn">	
		<h2 class="LogInTxt" id="serverInfo">Введите ваш логин и пароль</h2>
	   <div class="group">      
		  <input class="UserIn" id="userLog" type="text" required>
		  <span class="bar"></span>
		  <label>Логин</label>
	   </div>
	   <div class="group">      
		  <input  class="UserIn"  id="userPass" type="password" required>
		  <span class="bar"></span>
		  <label>Пароль</label>
	   </div>
	   
	   <div class="Entering">
		<input class="EnterBtn" type="submit" value="Войти">
		<h2 class="LogInTxt">Еще нет аккаунта?</h2>
		<a href="index.html">Оформить новый кредит</a>
	   </div>
	</form>
</div>
